<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}" />
<!--    <link rel="stylesheet" href="../Static/index.css" />-->
</head>
<body>
    <div class="main_div">
        <h3>Web Scraping For Text Review</h3>
        <form name="myform" method="post">
             {% csrf_token %}
                 {% for field in form %}
                    {{field}}
                    <span>{{field.errors | striptags }}</span>

                {% endfor %}
             <br>


            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
